[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
url = "https://${ARTIFACTORY_USERNAME}:${ARTIFACTORY_PASSWORD}@cloudnativejava.jfrog.io/artifactory/api/pypi/pypi-virtual/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[requires]
python_version = "3.7"

[packages]
requests = "*"
twine = "*"
